/src/main/webapp/index-dev.html
/src/main/ts/*.ts
/.settings
/bin
/bower_components
/build
/node_modules
/typings
/.project
/_SpecRunner.html
/.grunt
/src/main/webapp/scripts/app/ttsort.ts
/src/main/webapp/scripts/app/ttsort.d.ts
/src/main/webapp/scripts/app/ttsort.js
/src/main/webapp/scripts/app/ttsort.js.map
/src/main/webapp/scripts/app/ttsort.min.js
/src/main/webapp/scripts/app/ttsort.min.js.map
/src/main/webapp/scripts/vendor/jquery
/src/main/webapp/scripts/vendor/underscore
/src/main/webapp/scripts/vendor/angular
/src/main/webapp/scripts/vendor/bootstrap
/src/main/ts/vendor
/src/main/webapp/scripts/app
/src/main/webapp/scripts/vendor